APScheduler==3.11.2
dnspython==2.8.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fastapi==0.133.0
firebase_admin==7.1.0
keybert==0.9.0
pydantic==2.12.5
pymongo==4.16.0
python-dotenv==1.2.1
sentence-transformers==5.2.3
spacy==3.8.11
transformers==5.2.0
uvicorn==0.41.0
wrapt==2.1.1
